{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <hgroup id="main-title" class="thin">
        <h1>Tables</h1>
    </hgroup>

    <div class="columns">

        <div class="eight-columns with-padding">
            {{ form(form) }}
        </div>

        <div class="three-columns with-padding thin">
            <h3 class="underline">Actions</h3>
            ...........
            <h3 class="underline">Documentation</h3>
            <h4>1- Règles de validation des champs</h4>
            <p>Il faut utiliser l'attribut "validator". Quelques exemples:</p>
                <ul>
                    <li>validator="required"</li>
                    <li>validator="required,custom[email]"</li>
                    <li>validator="required,custom[phone]"</li>
                    <li>validator="required,custom[date]"</li>
                    <li>validator="required,custom[number]"</li>
                </ul>
                <p>voir <a href="https://github.com/posabsolute/jQuery-Validation-Engine#validators">doc du plugin</a></p>

            <h4 class="thin">2- Configuration des exports</h4>
            <pre class="thin">
                {
                    "export": {
                        "csv": {
                            "gap": "60",
                            "cron": "0 * * * *"
                        }
                    },
                    "configuration": {
                        "firstname": "prenom",
                        "lastname": "nom"
                    }
                }
            </pre>
        </div>
    </div>


{% endblock %}