{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <script>

        function validateFormAction() {

            document.getElementById("form_exportConfig").value = JSON.stringify(editor.get());
            //alert (document.getElementById("form_exportConfig").value);

            document.getElementById("sourceWidget").value = editor1.getValue();
            document.getElementById("scriptWidget").value = editor2.getValue();
            document.getElementById("form_alertRules").value = JSON.stringify(editorRules.get());

            alert ("ok");
        }

    </script>

    <hgroup id="main-title" class="thin">
        <h1>{{ title }}</h1>
    </hgroup>

    <div class="columns">

        <div class="eight-columns with-padding">
            {{ form(form) }}
        </div>

        <div class="three-columns with-padding thin">
            <h3 class="underline">Actions</h3>
            ...........
        </div>
    </div>


{% endblock %}