<form action="{{ path('_referenceList_addElement') }}" id="addElementToListForm" method="POST">
    <input type="hidden" name="referenceListId" value="{{ referenceListId }}"/>
    <table>
        <tr>
            <td>Nom</td>
            <td><input type="text" name="name" style="border:1px solid #e0e0e0;width:250px;"/></td>
        </tr>
        <tr>
            <td>Valeur</td>
            <td><input type="text" name="value" style="border:1px solid #e0e0e0;width:250px;"/></td>
        </tr>

    </table>

    <center><input type="submit"/></center>

</form>