parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    leadsfactory.internal_email_patterns:
        - '%%@weka.fr'
        - '%%@teching.com'
        - '%%test%%'

    twilio_sid:         AC7239fc934bd45900bd85715f6ce6ab2a
    twilio_authToken:   83a6842dd399473232caccb92159544c
    twilio_retryAttempts:   2
    weka_leads.edeal_credentials: ~
