{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <div class="span7">

        <div class="box color_7">
            <div class="title">
                <h4> <i class="icon-book"></i><span>{{ title }}</span> </h4>
            </div>
            <div class="content">

                {{ form(form) }}

            </div>
        </div>

    </div>

{% endblock %}