{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}
    <hgroup id="main-title" class="thin">
        <h1>{{ title }}</h1>
    </hgroup>
    <div class="columns">

        <div class="with-padding eight-columns">

            <h3 class="thin underline">Edition de la liste de référence</h3>
            {{ form(form) }}

        </div>

        <div class="with-padding three-columns">

            <h3 class="thin underline">Actions</h3>

                <p class="button-height">
                    blabla explication
                </p>

        </div>

    </div>

{% endblock %}
{% block javascript %}
    <script>
        // Table sort - DataTables
        var table = $('#sorting-advanced');
        table.dataTable({

            'sPaginationType': 'full_numbers',
            'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
            'fnInitComplete': function( oSettings )
            {
                // Style length select
                table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
                tableStyled = true;
            }
        });
    </script>
{% endblock %}