<div class="row">
  <div class="col-md-9 col-sm-9">
    <div class="dataTables_length" id="sample_3_length">
      <label>Afficher :
        <select (change)="onPageSizeChange($event.target.value)" [(ngModel)]="pageSize" name="sample_3_length" class="form-control input-sm input-xsmall input-inline">
          <option [selected]="size === pageSize" *ngFor="let size of availablePageSizes;" value="{{size}}">{{size}}</option>
        </select>
      </label>
    </div>
  </div>
  <div class="col-md-3 col-sm-3">
    <div id="sample_3_filter" class="dataTables_filter">
      <label>Recherche :
        <input (keyup.enter)="searchKeword(searchBox.value)" #searchBox ng-model="searchKeword" type="search" class="form-control input-sm input-small input-inline" placeholder="" value="" >
      </label>
    </div>
  </div>
</div>
