{% if elements %}
    <select class="form-control" id="typeLeadsSelect" onChange="setTypeLead();" >
        <option></option>
    {% for element in elements %}
        <option value="{{ element.value }}">{{ element.name }}</option>
    {% endfor %}
</select>
{% else %}
    Aucun type actif
{% endif %}