<div class="panel-body">

    <h3>Historique de la demande</h3>
    <table id="country-list" class="sortable-table">
        <thead>
        <tr class="country-table-head">
            <th>Date</th>
            <th>Utilisateur</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>

        {% if elements %}

    {% for element in elements %}
                <tr><td>{{ element.createdAt |date("m/d/Y - H:i") }}</td><td>{{ element.user.firstName|capitalize }} {{ element.user.lastName|capitalize }}</td><td>{{ element.log }}</td></tr>

    {% endfor %}
{% else %}
    <tr><td colspan="3">Aucun historique</td></tr>
{% endif %}

        </tbody></table>

</div>
