{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% form_theme form 'TellawLeadsFactoryBundle:Form:fields.html.twig' %}

{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <script>

        function validateFormAction() {

            document.getElementById("form_exportConfig").value = JSON.stringify(editor.get());
            //alert (document.getElementById("mkgSegmentation_config").value);

            document.getElementById("sourceWidget").value = editor1.getValue();
            document.getElementById("scriptWidget").value = editor2.getValue();
            document.getElementById("source2Widget").value = editor3.getValue();
            document.getElementById("form_alertRules").value = JSON.stringify(editorRules.get());

        }

    </script>

    <div class="col-md-12">
        <div class="heading-sec" id="intro6">
            <h1>{{ title }}</h1>
        </div>
    </div>

    <div class="col-md-8">
        <div class="widget-body custom-form">
            {{ form(form) }}
        </div>
    </div>

    <div class="col-md-4">
        {% if id is defined %}
            <h3 class="custom-heading">Actions:</h3>
            <div>
                <button type="button" class="btns  blue  m-sml-btn" style="margin:0px 0px 10px 0px" onClick="window.location.href='{{ path('_client_get_form', {'id': id}) }}'">Apercu du formulaire</button>
                <button type="button" class="btns  blue  m-sml-btn" style="margin:0px 0px 10px 0px" onClick="window.location.href='{{ path('_entity_leads_export', {'id': id}) }}'">Export des leads du formulaire</button>
            </div>
            <div style="clear:both"></div>
        {% endif %}

        <h3 class="custom-heading">Aide:</h3>
<p>Cette page vous permet de parametrer complétement votre formulaire.</p>


    </div>

{% endblock %}