<!-- template : statisticsFormTypeItem.html.twig -->
<table id="country-list">
    <thead>
    <tr class="country-table-head">
        <th style="width:70%">Déscription des données</th>
        <th>Valeur</th>
    </tr>
    </thead>
    <tbody>
    <tr><td><a href="#">Nombre de pages vues sur la période</a></td><td>{{ formType.nbViews }}</td></tr>
    <tr><td><a href="#">Nombre de leads sur la période</a></td><td>{{ formType.nbLeads }}</td></tr>
    <tr><td><a href="#">Taux de transformation sur la période</a></td><td>{{ formType.transformRate }} %</td></tr>
    </tbody></table>