<!-- template : statisticsFormItem.html.twig   -->
<table id="country-list">
    <thead>
        <tr class="country-table-head">
            <th style="width:500px">Déscription des données <span>&nbsp;</span></th>
            <th>Valeur <span>&nbsp;</span></th>
        </tr>
    </thead>
    <tbody>
        <tr><td><a href="#">Nombre de pages vues sur la période</a></td><td>{{ form.nbViews }}</td></tr>
        <tr><td><a href="#">Nombre de leads sur la période</a></td><td>{{ form.nbLeads }}</td></tr>
        <tr><td><a href="#">Taux de transformation sur la période</a></td><td>{{ form.transformRate }} %</td></tr>
    </tbody></table>
