{# src/Acme/BlogBundle/Resources/views/Blog/index.html.twig #}
{% extends 'TellawLeadsFactoryBundle::base.html.twig' %}
{% block body %}

    <hgroup id="main-title" class="thin">
        <h1>Tous les suivis</h1>
    </hgroup>

    <div class="dashboard">
        <!-- Chart -->
        {{ render(controller('TellawLeadsFactoryBundle:monitoring:chart')) }}
    </div>

{% endblock %}
{% block javascript %}
<script>
    // Table sort - DataTables
    var table = $('#sorting-advanced');
    table.dataTable({

        'sPaginationType': 'full_numbers',
        'sDom': '<"dataTables_header"lfr>t<"dataTables_footer"ip>',
        'fnInitComplete': function( oSettings )
        {
            // Style length select
            table.closest('.dataTables_wrapper').find('.dataTables_length select').addClass('select blue-gradient glossy').styleSelect();
            tableStyled = true;
        }
    });
</script>
{% endblock %}