
{% for item in entities %}

<div class="four-columns six-columns-tablet twelve-columns-mobile">
    <div class="block large-margin-bottom">
        <div class="block-title">
            <h3>{{ item.name }}</h3>
            <span class="ribbon"><span class="ribbon-inner">Status OK</span></span>
        </div>
        <ul class="events">
            <li>
                <span class="event-date orange">8</span>
                Mouvement depuis la valeur de référence:<br>
                <span class="fact-progress green">-5% ▼</span>

            </li>
        </ul>
    </div>
</div>

{% endfor %}