<h1 class="page-title"> Administration des formulaires
    <small>listes des formulaires existants dans le scope</small>
</h1>

<div class="portlet box red">
  <div class="portlet-title">
      <div class="caption"><i class="fa fa-cogs"></i>Table </div>
      <div class="actions">
          <a href="javascript:;" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Ajouter un formulaire </a>
      </div>
  </div>
  <div class="portlet-body">
      <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
        <app-table-header (pageSizeChange)="onPageSizeChange($event)" (searchKeywordChange)="searchKeywordChange($event)" ></app-table-header>
        <div class="table-scrollable">
          <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_3" role="grid" aria-describedby="sample_3_info">
          <thead>
              <tr role="row">
                <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 42px;">
                      <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                          <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes">
                          <span></span>
                      </label>
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 78px;"> Username </th>
                  <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 128px;"> Email </th>
                  <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 52px;"> Status </th>
                </tr>
          </thead>
          <tbody>
          <tr class="gradeX odd" role="row" *ngFor="let item of forms.items;">
                  <td>{{item.id}}</td>
                  <td class="sorting_1">{{item.name}}</td>
                  <td>{{item.description}}</td>
                  <td>
                      <span class="label label-sm label-success"> Approved </span>
                  </td>
              </tr></tbody>
      </table>
    </div>
    <app-table-footer (pageChange)="onPageChange($event)" [numberOfPages]="numberOfPages" ></app-table-footer>
  </div>

</div>
